org: pelshen
# "app" enables Serverless Framework Dashboard features and sharing them with other Services.
app: name-draw
service: name-draw

provider:
  name: aws
  region: eu-west-2
  stage: ${opt:stage, 'local'}
  runtime: nodejs22.x
  environment:
    SLACK_SIGNING_SECRET: ${env:SLACK_SIGNING_SECRET}
    SLACK_BOT_TOKEN: ${env:SLACK_BOT_TOKEN}
    SLACK_CLIENT_ID: ${env:SLACK_CLIENT_ID}
    SLACK_CLIENT_SECRET: ${env:SLACK_CLIENT_SECRET}
    STAGE: ${self:provider.stage}
    ACCOUNT_TABLE: name-draw-${sls:stage}_${env:ACCOUNT_TABLE}
    POSTHOG_API_KEY: ${env:POSTHOG_API_KEY, ''}
    POSTHOG_HOST: ${env:POSTHOG_HOST, ''}
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:*"
          Resource: "arn:aws:dynamodb:${self:provider.region}:*:table/name-draw*"

functions:
  slack:
    handler: app.handler
    events:
      - http:
          method: post
          path: slack/events
      - http:
          method: get
          path: slack/install
      - http:
          method: get
          path: slack/oauth_redirect

resources:
  Resources:
    installationsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.ACCOUNT_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: type
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
          - AttributeName: type
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

plugins:
  - serverless-dynamodb
  - serverless-offline

package:
  individually: true
  patterns:
    - "!**"
    - "app.js"
    - "name-draw-app.js"
    - "package.json"
    - "installationStore.js"
    - "usageTracker.js"
    - "analytics.js"
    - "node_modules/**"

custom:
  serverless-dynamodb:
    start:
      migrate: true
      seed: true
      inMemory: false
      dbPath: ..
      optimizeDbBeforeStartup: false

    seed:
      shared:
        sources:
          - table: ${self:provider.environment.ACCOUNT_TABLE}
            sources: [../account-seed.json]
