org: pelshen
app: name-draw

service: name-draw-marketing

stages:
  dev:
    params:
      apiHost: https://dev.api.name-draw.com/
      siteHost: https://dev.name-draw.com
      domainPrefix: dev.
      slackClientId: '3901161718116.9240436968960'
      slackClientSecret: ${env:SLACK_CLIENT_SECRET_DEV}
  prod:
    params:
      apiHost: https://api.name-draw.com/
      siteHost: https://name-draw.com
      domainPrefix: ''
      slackClientId: '3901161718116.3922797710336'
      slackClientSecret: ${env:SLACK_CLIENT_SECRET}
  default:
    params:
      apiHost: https://localhost:3000/

provider:
  name: aws
  runtime: nodejs22.x
  stage: ${opt:stage, 'local'}
  region: ${opt:region, 'eu-west-2'}
  environment:
    SLACK_CLIENT_ID: ${param:slackClientId}
    SLACK_CLIENT_SECRET: ${param:slackClientSecret}
    SLACK_REDIRECT_HOST: ${param:apiHost}
    SITE_HOST: ${param:siteHost}
    SESSION_SECRET: ${env:SESSION_SECRET}
    SESSION_TABLE: name-draw-${sls:stage}_${env:SESSION_TABLE}
    ACCOUNT_TABLE: name-draw-${sls:stage}_${env:ACCOUNT_TABLE}
    STAGE: ${self:provider.stage}
  apiGateway:
    minimumCompressionSize: 1024
    shouldStartNameWithService: true
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:GetItem
            - dynamodb:PutItem
            - dynamodb:DeleteItem
          Resource:
            - arn:aws:dynamodb:${self:provider.region}:*:table/name-draw*

constructs:
  site:
    type: single-page-app
    path: dist
    domain: ${param:domainPrefix}name-draw.com
    certificate: arn:aws:acm:us-east-1:992382840817:certificate/64e61085-f514-4ead-86a5-b1ce00c497d8

custom:
  siteName: ${self:service}-${self:provider.stage}
  allowedOrigins: https://${param:domainPrefix}name-draw.com
  customDomain:
    domainName: ${param:domainPrefix}api.name-draw.com
    basePath: ''
    apiType: rest
    endpointType: EDGE
    certificateArn: arn:aws:acm:us-east-1:992382840817:certificate/64e61085-f514-4ead-86a5-b1ce00c497d8
    hostedZoneId: Z0171226N8YWQMB90C62
    autoDomain: true
  serverless-offline:
    httpPort: 4000
    httpsProtocol: .
    noPrependStageInUrl: true
  serverless-dynamodb:
    stages:
      - local
    start:
      inMemory: false
      migrate: true
      dbPath: ..
      optimizeDbBeforeStartup: false

plugins:
  - serverless-dynamodb
  - serverless-offline
  - serverless-lift
  - serverless-domain-manager
package:
  individually: true
  patterns:
    - '!node_modules/**'
    - '!src/**'
    - '!public/**'
    - '!.git/**'

functions:
  authSlack:
    handler: api/auth/slack.handler
    events:
      - http:
          path: /api/auth/slack
          method: get
          cors:
            origin: ${self:custom.allowedOrigins}
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
  authSlackCallback:
    handler: api/auth/callback/slack.handler
    events:
      - http:
          path: /api/auth/callback/slack
          method: get
          cors: true
  authLogout:
    handler: api/auth/logout.handler
    events:
      - http:
          path: /api/auth/logout
          method: post
          cors:
            origin: ${self:custom.allowedOrigins}
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true
  account:
    handler: api/account.handler
    events:
      - http:
          path: /api/account
          method: get
          cors:
            origin: ${self:custom.allowedOrigins}
            headers:
              - Content-Type
              - Authorization
            allowCredentials: true

resources:
  Resources:
    SessionsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: name-draw-${sls:stage}_sessions
        AttributeDefinitions:
          - AttributeName: sessionId
            AttributeType: S
        KeySchema:
          - AttributeName: sessionId
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST
    SiteARecord:
      Type: AWS::Route53::RecordSet
      Properties:
        HostedZoneId: Z0171226N8YWQMB90C62 # Your HostedZoneId
        Name: ${param:domainPrefix}name-draw.com
        Type: A
        AliasTarget:
          HostedZoneId: Z2FDTNDATAQYW2 # Cloudfront Route53 HostedZoneId. This does not change.
          DNSName: ${construct:site.cname}
    SiteAAAARecord:
      Type: AWS::Route53::RecordSet
      Properties:
        HostedZoneId: Z0171226N8YWQMB90C62 # Your HostedZoneId
        Name: ${param:domainPrefix}name-draw.com
        Type: AAAA
        AliasTarget:
          HostedZoneId: Z2FDTNDATAQYW2 # Cloudfront Route53 HostedZoneId. This does not change.
          DNSName: ${construct:site.cname}
